@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #0c0c0bb8;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
    color: #e5e5dcb8;
}

#heror-msg h4 {
    
    /* display: none; */
    /* background-color: #b3d8fd; */
    text-align: center;
    height:30px;
   
    color:black       ;
    font-size: 30px;
    font-weight:bold;
    padding-left: 20px;
    margin-top: -55px;
    
   
    
   

    

}
#heror-msg h1,
.button-box,
main section {
    text-align: center;
    color: #eaf3e9e7;
}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
    height: 725px;
    background-color: #78a2bc;
}

body {
    background-color: #2f659a;
    font-size: 18px;
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #ede65fb8;

}

h2 {
    margin: 0;
}

nav a:hover {
    background-color: #3520ba;
    color: #f8f4f0b8;
}

nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
}

a {
    text-align: center;
    text-decoration: none;
}

.book,
.join {
    background-color: #91ba20;
    text-decoration: none;
    color: #252c13;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #955f7a;
    color: #12120ab8;
}

.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    background-color: #afcbc8;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 150px;
    box-shadow: 5px 5px 10px #6f7364;
    

}

footer {
    background-color: #ede65fb8;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    color: #228217b8;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

.msg h2 {
    color: #12120ab8;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
}

.msg p {
    color: #12120ab8;
    padding-bottom: 15px;
}

footer h3 {
    color: #12120ab8;

}

footer a {
    color: #0c0c0bb8;
    text-decoration: none;
}

footer a:hover {
    color: #a20d0dbf;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-img {
    width: 100%;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#heror-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
footer h3 a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    margin-top: 100px;
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img {
    border: 10px solid #d9c2a3;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);

}

main section img {
    box-sizing: border-box;
}
.cardpg2-img {
    border: 10px solid #d9c2a3;
    width: 50%;
    height: 250px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    float: left;
    padding-left: 5px;
    margin-right:10px;
    text-align: right; 
      
}




.rivers-box  p {
    text-align: left; 
    
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
   
}

.rivers-box h3 {
    text-align: center; 
    color: #eee560;
    
    
   
}
h3 {
    padding-left: 10px;
}
.rivers-box {
    border: 10px solid #d9c2a3;
    max-width: 100%;
    line-height: 1.5em;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    box-sizing: border-box;
    padding:10px;
    margin-top: 50px;
    /* padding: auto; */
}

.rivers-name h2 {
    text-align: center;
    color: #d5c3d4;
    margin-top: 10px;
    margin-bottom: 30px;
}    

.cardpg2-img:hover {
    opacity: .6;
    transform: scale(1.1);

}
/* styling for form */
form {
    /* Center the form on the page */
    margin: 70px auto;

    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 2px solid #CCC;
    border-radius: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form li + li {
    margin-top: 1em;
  }
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
     /* Uniform text field size */

  width: 300px;
  box-sizing: border-box;
    /* Match form field borders */
  border: 1px solid #999;
}
input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  .button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }
    

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}
                    
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    
    }
    
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}