#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center; 
    color:  #0c0c0bb8;
    text-decoration: none;
}
#hero-msg h1,  #hero-msg h4, .button-box, main section {
    text-align: center; 
    color:  #e5e5dcb8;  
}

#background {
    height: 725px;
}

body {
    background-color: #2f659a; 
}
header {
    background-color:#ede65fb8;
}
nav a:hover {
    background-color: #3520ba;
    color: #f8f4f0b8;  
}
nav {
    text-align: center;
    text-decoration: none;
} 

a {
    text-align: center;
    text-decoration: none;
}
.book, .join {
    background-color: #91ba20;
    text-decoration: none;
    color: #252c13;
}   
.book:hover, .join:hover {
    background-color: #955f7a;
} 
#background {
    background-color: #78a2bc;   
}         
.msg {
    background-color: #afcbc8;   
}
footer {
    background-color: #ede65fb8;
}
.home-title{
    color: #228217b8; 
}
.book:hover,.msg h2,.msg p,footer h3 {
    color:  #12120ab8;
}
footer a {
    color:  #0c0c0bb8;
    text-decoration: none;
}

footer a:hover {
    color:  #a20d0dbf;
}
.logo {
    width: 80px;  
}

.icon {
    width: 80px;
}
#hero-img {
    width: 100%;  
}  
footer h3 a:hover{
    text-decoration: underline;
}            